<div class="item">
    <input
    [id]="item.description"
    type="checkbox"
    (change)="item.fait = !item.fait"
    [checked]="item.fait" />
    <label [for]="item.description">{{item.description}}</label>

    <div class="btn-wrapper" *ngIf="!editable">
        <button class="btn" (click)="editable = !editable">Modifier</button>
        <button class="btn btn-warn" (click)="removeItem()">Supprimer</button>
    </div>
    <div *ngIf="editable">
        <input
        class="sm-text-input"
        placeholder="edit item"
        [value]="item.description"
        #editedItem
        (keyup.enter)="saveItem(editedItem.value)" />

        <div class="btn-wrapper">
        <button class="btn" (click)="editable = !editable">Annuler</button>
        <button class="btn btn-save" (click)="saveItem(editedItem.value)">
            Sauvegarder
        </button>
        </div>
    </div>

</div>
