<h1>Hello</h1>
<div class="main">
  <h2>To Do List de Christopher</h2>
  <label>Quelles sont les tâches à effectuer ?</label>
  <h3>
    {{items.length}}
  <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>tâches</ng-template>
  </h3>
  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
  <input
  #newItem
  placeholder="Ajouter une tâche"
  (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput" />

<button class="btn-primary" (click)="addItem(newItem.value)">Ajouter</button>
</div>
<!--  
-->